.section {
    margin-bottom: 40px;

}



.label {
    font-family: var(--r);
    font-size: var(--texte);
    color: #000;
    margin-left: 5%;
    margin-bottom: 5%;


}

.input {
    position: absolute;
    background-color: var(--jaune);
    border: none;
    height: 35px;
    width: 150px;
    margin-left: 10%;
    color: #000;
    z-index: 2;
}

.input_2 {
    position: absolute;
    background-color: var(--jaune);
    border: none;
    height: 83px;
    width: 300px;
    margin-left: 10%;
    color: #000;
    z-index: 2;
    
}


.bouton_envoyer {
    position: relative;
    display: block;
    font-family: var(--r);
    font-size: 15px;
    background-color: var(--jaune);
    border: none;
    height: 35px;
    width: 150px;
    margin-left: 25%;
    margin-bottom: 46px;
    z-index: 2;
}

#rectangle {
    position: relative;
    height: 38px;
    width: 150px;
    margin-left: 12%;
    margin-top: 24px;
    background-color: #000;
    z-index: 1;
}

#rectangle_1 {
    position: relative;
    height: 83px;
    width: 300px;
    margin-left: 12%;
    margin-top: 30px;
    background-color: #000;
    z-index: 1;
}

#rectangle_2 {
    position: relative;
    height: 38px;
    width: 150px;
    margin-left: 27%;
    top: 40px;
    background-color: #000;
    z-index: 1;
}

.espace__boutons {
    margin: 10%;
}

.texte-suivez-nous_1 {
    position: absolute;
    writing-mode:vertical-rl;
    text-orientation:sideways;
    top: 100px;
    left: 276px;
    
}

.texte-suivez-nous_2 {
    position: absolute;
    writing-mode:vertical-rl;
    text-orientation:sideways;
    top: 245px;
    left: 325px;
    
}

.img_form { 
    position: absolute;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        padding-top: 10px;
        z-index: 1;
        width: 82px;
        height: 75px;
        justify-content: center;
        top: 182px;
        margin-left: 275px;
        z-index: 6;
        

}

img{
    margin-bottom: 15px;
    
}

#rectangle_3 {
    position: absolute;
    height: 147px;
    width: 28px;
    margin-left: 278px;
    top: 150px;
    background-color: var(--jaune);
    z-index: 4;
}

#rectangle_4 {
    position: absolute;
    height: 147px;
    width: 28px;
    margin-left: 273px;
    top: 143px;
    background-color: #000;
    z-index: 4;
}

.cont{
    color: black;
}
